body{
    background-color: rgb(172, 210, 248);
}


.container{
    background-color: white;
    margin: calc(50% - 600px);
}
.container h1{
    color: blue;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.btn{
    margin-top: 20px;
    margin-left: 45%;
    display: inline-block;
    background-color: royalblue;
    border-radius: 20px;
    color: aliceblue;
    padding: 15px 40px;
}
.values{
    display: flex;
    flex-direction:row;
    gap: 30px;
    
}

footer{
    color: rgb(105, 243, 197);
    }

input{
        border: none;
        background-color: rgb(231, 202, 231);
        padding: 30px;
    }